/* div.items p {display: none}
div.items p:target {display: block}
div.items p:not(:target) {display: none}
div.items p:target {display: block} */

/* Domyślnie ukryj wszystkie elementy .items > div */
.items > div {
  display: none;
}

/* Wyświetl aktualnie wybrany element .items > div */
.items > div:target {
  display: block;
}

.bookmarksTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 12px;
    margin: 20px;
    font-size: 25px;
}

.bookmarksTop a {
    color: #000;
    text-decoration: none;
}

/* .bookmarksTop:active {
    background-color: rgb(126, 11, 11);
} */

.bookmarksTop a:hover {
    color: #fff;
}

h2 {
  font-size: 40px;
  color: #4CAF50;
  text-align: center;
  margin: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie w poziomie */
  margin: 0 auto; /* Wyśrodkowanie kontenera */
}

.HomeContainer {
  display: grid; /* Ustaw kontener na grid */
  grid-template-columns: 1fr 1fr; /* Dziel przestrzeń na dwie kolumny o równej szerokości */
  gap: 10px; /* Dodaj odstęp między kolumnami */
  padding: 20px; /* Dodaj wewnętrzny odstęp */    
  margin-top: 20px;
}

.Home {
  margin-right: 10px;
  margin-bottom: 20px;
  color: #cf0b0b;
  font-size: 20px;
  text-align: center;
}

.btnGroupGameStarter button {
  background-color: #4CAF50;
  border: 1px solid green; /* Green border */
  border-radius: 12px;
  color: black; /* White text */
  padding: 14px 20px;
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  transition: background-color 0.3s;
  font-size: 20px;
  box-shadow: 0 5px #999;
  display: block; /* Make the buttons appear below each other */
  margin-bottom: 10px; /* Add margin bottom between buttons */
  margin: 10px;
}

.btnGroupGameStarter button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btnGroupGameStarter button:hover {
  background-color: #3e8e41;
  color: #fff;
}

.btnGroupGameStarter button:active {
  background-color: rgb(126, 11, 11);
}

.container {
    display: grid; /* Ustaw kontener na grid */
    grid-template-columns: 1fr 1fr; /* Dziel przestrzeń na dwie kolumny o równej szerokości */
    gap: 10px; /* Dodaj odstęp między kolumnami */
    padding: 20px; /* Dodaj wewnętrzny odstęp */    
    margin-top: 20px;
  }
  
  .box {
    /*display: flexbox; /* Ustaw elementy w kontenerze na flexbox */
    /*box-sizing: border-box;
    /*gap: 20px;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 12px;
    background-color: #f2f2f2;*/
    text-align: center;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    border: #cf0b0b;
  }
  
  button:hover {
      background-color: #45a049;
  }
  
  .myButton {
      display: inline-block;
      background-color: #4CAF50;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: auto; /* Ustaw width na auto, aby dostosować szerokość do zawartości */
      transition: background-color 0.3s;
      font-size: 20px;
      border-radius: 12px;
      box-shadow: 0 5px #999;
    }
    
    .myButton:active {
      background-color: rgb(126, 11, 11);
    }
  


  .About {
    /* float: right; */
    margin-right: 10px;
    margin-bottom: 20px;
    color: #cf0b0b;
    font-size: 20px;
    text-align: center;
  }

  .AboutBox {
    display: grid; /* Ustaw kontener na grid */
    grid-template-columns: 1fr 1fr; /* Dziel przestrzeń na dwie kolumny o równej szerokości */
    gap: 10px; /* Dodaj odstęp między kolumnami */
    padding: 20px; /* Dodaj wewnętrzny odstęp */    
    margin-top: 20px;
  }


.HowToPlay {
    /* float: right; */
    margin-right: 10px;
    margin-bottom: 20px;
    color: #cf0b0b;
    font-size: 20px;
    text-align: center;
  }

  .HowToPlayBox {
    display: grid; /* Ustaw kontener na grid */
    grid-template-columns: 1fr 1fr; /* Dziel przestrzeń na dwie kolumny o równej szerokości */
    gap: 10px; /* Dodaj odstęp między kolumnami */
    padding: 20px; /* Dodaj wewnętrzny odstęp */    
    margin-top: 20px;
  }

  .GameButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 12px;
    margin: 20px;
    font-size: 25px;
}

.GameList {
    display: grid; /* Ustaw kontener na grid */    
    gap: 10px; /* Dodaj odstęp między kolumnami */
    padding: 20px; /* Dodaj wewnętrzny odstęp */    
    margin-top: 20px;
  }

  .GameList a {
    color: #cf0b0b;
    text-decoration: none;
    font-size: 20px;
  }

  .GameList a:hover {
    color: #fff;
  }

  .GameList a:active {
    background-color: rgb(126, 11, 11);
  }

  .BackOnTop {
    color: #cf0b0b;
    text-decoration: none;
    font-size: 20px;
}

.BackOnTop:hover {
  color: #fff;
}


  