html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}   